body {
  padding-top: 50px;
}
img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.icon-column {
  width: 36px;
  text-align: center;
  -webkit-border-top-left-radius
  border-top-left-radius
}
